.parallax-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.images-parallax__stars {
  background: url("../../src/assets/Main page/background7.jpg") top/cover no-repeat;
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
}

.images-parallax__planets-earth, .images-parallax__planets-merk,
.images-parallax__planets-diamond {
  inset: 0;
  position: absolute;
  z-index: 5;
  width: 100%;
}

.images-parallax__planets-earth {
  background: url("../../src/assets/Main page/earth/earth.png") bottom/cover no-repeat;
}

.images-parallax__planets-merk {
  background: url("../../src/assets/Main page/earth/merk.png") bottom/cover no-repeat;
}

.images-parallax__planets-diamond {
  background: url("../../src/assets/Main page/earth/diamond.png") bottom/cover no-repeat;
}

.images-parallax__moon {
  background: url("../../src/assets/Main page/moon.png") bottom/cover no-repeat;
  position: relative;
  z-index: 10;
  inset: 0;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
}
.header ._container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header ._container .header__logo, .header ._container .header__link, .header ._container .header__profile {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  font-family: "Clash Grotesk Variable", sans-serif;
}
.header ._container .header__logo {
  font-weight: bold;
}
.header ._container .header__links {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.home__container {
  position: absolute;
  height: 60%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home__banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home__title, .home__subtitle {
  cursor: default;
}

.home__title {
  display: inline;
  font-size: 5.5rem;
  font-family: "Clash Grotesk Variable", sans-serif;
  font-weight: 500;
  letter-spacing: 2.4px;
  background: linear-gradient(90deg, #4F68EC 0%, #85BDFF 30%, #FF1FF8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__subtitle {
  width: 70%;
  color: #FFF;
  text-align: center;
  font-family: "Cabinet Grotesk Variable", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 156%; /* 156% */
  letter-spacing: 0.045rem;
  margin-bottom: 2rem;
}

.home__button {
  width: 20%;
}

.cta {
  height: 100vh;
  background: url("../../src/assets/Main page/stars.png") bottom/cover no-repeat;
}
.cta ._container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.cta__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}

.cta__text {
  color: #FFF;
  font-family: "Cabinet Grotesk Variable", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  letter-spacing: 0.045rem;
}

.cta__button {
  width: 35%;
  height: 4rem;
}

.cta__image {
  width: 50%;
  min-height: 600px;
  background: url("../../src/assets/Main page/astronaut.png") center/contain no-repeat;
}

/*# sourceMappingURL=parallax.css.map */
